GameStoreClientSoap/GameStoreClientSoap/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameStorelibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameStorelibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGames">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Games" nillable="true" type="tns:Games" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGames" nillable="true" type="tns:ArrayOfGames" />
  <xs:complexType name="Games">
    <xs:sequence>
      <xs:element minOccurs="0" name="AntalPåLager" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Games" nillable="true" type="tns:Games" />
</xs:schema>